# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Virtual env
.venv/
venv/
ENV/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Build / Dist
build/
dist/

# Data / Models / Weights
*.pt
*.pth
*.onnx
*.ckpt
*.weights
*.npz
*.npy
*.zip
*.tar
*.tar.gz
runs/
outputs/
results/
datasets/
data/

# Cache
.cache/
.tmp/
**/.mypy_cache/
**/.pytest_cache/

# IDE / Editors
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Images / Media (optional)
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
*.bmp